.main {
  min-width: 20%;
  width: min-content;
  height: auto;
}
.sidebarRow__item {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  padding: 5px 10px;
}
.sidebarRow__item:hover {
  background-color: rgb(238, 237, 237);
  border-radius: 10px;
  color: #2e81f4;
}
.sidebarRow__item > img {
  height: 40px;
  border-radius: 50%;
}
.sidebarRow__item > p , .sidebarRow__item > a{
  color:black;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;
  margin-left: 10px;
}

.sidebarRow__item > i {
  font-size: x-large;
    
}
